[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
flask = "*"
nltk = "*"
psycopg2-binary = "*"
redis = "*"
requests = "*"

[dev-packages]
gitpython = "*"
hypothesis = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
