[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
flask = "*"
nltk = "*"
psycopg2-binary = "*"
redis = "*"
requests = "*"

[dev-packages]
bandit = "*"
black = "==19.10b0"
"flake8" = "*"
gitpython = "*"
hypothesis = "*"
isort = {extras = ["pipfile"],version = "*"}
pytest = "*"
pytest-cov = "*"
radon = "*"
xenon = "*"

[requires]
python_version = "3.8"
